body {
    background-color: #fcdd2a;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

header nav {
    align-self: center;
    padding-top: 10px;
}

header a {
    list-style: none;
    text-decoration: none;
    text-align: right;
    color: white;
    font-weight: bold;
    padding-right: 40px;
    line-height: 1em;
    font-size: 1.2em;
}

header a:hover {
    color: #fcdd2a;
}

header {
    background-color: #0c2d48;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer {
    background-color: #0c2d48;
    color: white;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}


header img {
    height: 50px;
    width: auto;
}

div.articles {
    border-top: #ef3b44 solid 2px;
    border-bottom: #ef3b44 solid 2px;
    margin-bottom: 20px;
}

section {
    color:  #0c2d48;
    height: auto;
    width: 80%;
    margin: auto;
    /* position: relative; */
}

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}  */


section {
    display: grid;
    /* grid-template-columns: 1fr 0.3fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px; */
}

article:nth-of-type(1) { grid-area: 1 / 1 / 3 / 2; }
article:nth-of-type(2) { grid-area: 2 / 3 / 4 / 4; }
article:nth-of-type(3) { grid-area: 3 / 1 / 5 / 2; }
article:nth-of-type(4) { grid-area: 4 / 3 / 6 / 4; }
article:nth-of-type(5){ grid-area: 5 / 1 / 7 / 2; }
article:nth-of-type(6){ grid-area: 6 / 3 / 8 / 4; }
article:nth-of-type(7){ grid-area: 7 / 1 / 9 / 2; }
article:nth-of-type(8){ grid-area: 8 / 3 / 10 / 4; }
article:nth-of-type(9) { grid-area: 9 / 1 / 11 / 2; }
article:nth-of-type(10){ grid-area: 10 / 3 / 12 / 4; }


article {
    background-color: #ef3b44;
    margin: 0px 10px 20px 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 700px;
    height: auto;
    max-width: 700px;
    /*max-height: 350px;*/
}


article img {
    max-height: 250px;
    width: auto;
    border: white 10px solid;
    border-radius: 10px;
    box-shadow: #fcdd2a 2px 2px 2px ;
}

article:nth-of-type(1) {
    margin-top: 20px;
}

article:nth-of-type(even) {
    flex-direction: row-reverse;
    align-self: flex-start;
}

article:nth-of-type(odd) {
    align-self: flex-end;
    flex-direction: row;
}


h2 {
    text-align: center;
    font-size: 3em;
    border-top: 2px solid #ef3b44;
    border-bottom: 2px solid #ef3b44;
    padding: 10px;
}

h3:nth-of-type(2n) {
    align-self: flex-end;
}

.right {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: justify;
}

@media (max-width: 1700px) {
    
    article {
        max-width: 450px;
    }
    
    article:nth-of-type(even) {
        flex-direction: column;
        align-self: flex-start;
        align-items: center;
    }
    
    article:nth-of-type(odd) {
        align-self: flex-end;
        flex-direction: column;
        align-items: center;
    }
    
}

@media (max-width: 1300px) {
    
    article {
        width: 350px;
    }
}

@media (max-width: 1250px) {
    .wrapper-loader {
        background-size: cover;
    }
    .progress-bar {
        width: 50%;
        max-width: 500px;
    }
    
}


@media (max-width : 900px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article:nth-of-type(even) {
        flex-direction: column;
        align-self: center;
        align-items: center;
    }

    article:nth-of-type(odd) {
        align-self: center;
        flex-direction: column;
        align-items: center;
    }
    
}

@media (max-width : 500px) {
    article {
        width: 300px;
    }

    header {
        flex-direction: column;
    }

    h1 {
        font-size: 1.5em;
    }

    header ul {
        padding: 0;
    }

    ul a {
        text-align: center;
    }
}